rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowed() {
      return request.auth != null
        && request.auth.uid in [
          'cBSmIOeTysM7hzi5Xnm7rkmsUFW2',
          'PLxEvRfAjSbj7kQumrbQ5xHF4S03'
        ];
    }

    match /rooms/jo-and-friend/{document=**} {
      allow read, write: if isAllowed();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
